body{ 
    font-family: Arial, sans-serif;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-height: 100vh;
      margin: 0;
      background-color: black;
}

@keyframes neonPulse {
    0% {
        text-shadow: 0 0 8px #00ff00, 0 0 16px #00ffff, 0 0 24px #8B4513;
        color: #00ff00;
    }
    50% {
        text-shadow: 0 0 12px #00ffff, 0 0 24px #8B4513, 0 0 36px #00ff00;
        color: #00ffff;
    }
    100% {
        text-shadow: 0 0 8px #8B4513, 0 0 16px #00ff00, 0 0 24px #00ffff;
        color: #8B4513;
    }
}

.title {
    font-family: 'MinecraftFont', sans-serif; /* Fuente desde un archivo local */
    font-size: 1.5rem; /* Tamaño más pequeño */
    color: #ffffff; /* Color base */
    animation: neonPulse 2s infinite; /* Animación neón */
    text-align: center;
    display: inline-block;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 8px;
    background: linear-gradient(90deg, #111111, #222222); /* Fondo minimalista */
    box-shadow: 0 0 8px #00ff00, 0 0 16px #00ffff, 0 0 24px #8B4513;
}

.text{
    margin: 15px;
    color: #ffffff;
    padding: 15px;
    border: 5px dashed ghostwhite;
    text-align: center;
    background-color: #88888886;
    text-shadow: 2px 2px 0px #000,4px 4px 5px rgba(0, 0, 0, 0.3);
}

.button{
    text-decoration: none;
    color: #ffffff;
    border: solid 2px #ffffff;
    padding: 5px;
    background-color: #000000;
    float: left;
    margin: 10px;
    margin-top: -7px;
    text-shadow: 2px 2px 0px #000,4px 4px 5px rgba(0, 0, 0, 0.3);
}

.link{
    color: #bfbfff;
    text-decoration: nome;
}

.menu{
    width: 100%;
    float: left;
    height: 70px;
    background-color: #0985009a;
    
#8e7c5f}

 .Marca {
      text-align: center;
      color: #ffffff;
      margin-bottom: 10px;
      
.textc {
    color: blanchedalmond;
}
